* {
  box-sizing: border-box;
}

.page-content {
  margin-left: 100px; /* Match the width of the sidebar */
  padding: 20px; /* Optional padding for inner spacing */
}

body {
  background-color: grey;
}